body {

    background: #ededed;
   
    }

.margin {
    padding:0;
    margin: 0;
}


/*.col-md-12 {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
} */

.logosize{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    filter: grayscale(100%);
}

.logosize1{
    width: 90px;
    height: 90px;
    border: 2px solid white;
    filter: grayscale(100%);
}


img:hover{
filter:grayscale(0);
}

.test {
    
    height:482px;
}

.foto {
    height: 482px;
    width: 100%;
    padding-right: 0;
    margin: 0;
}
.test2 {
    background: linear-gradient(white, white, grey);
    height:700px;
    float: left;
    height: 482px;
    text-align: center;
    vertical-align: middle;
    
}

.test3 {
   background: linear-gradient(white, white, grey);
    height:482px;
}

.test4 {
  
    height:700px;
    float: left;
    height: 482px;
}


.test5 {
   
    height:482px;
}

.test6 {
 background: linear-gradient(white, white, grey);
    height:700px;
    float: left;
    height: 482px;
}


.main-background {
   margin: 20px 60px 0px 60px;
   padding: 0px;
   height: 420px;
    background-color: white;
}

.background-mianpart{
   background-color: white;
   margin: 0px 45px 0px 45px;

   padding-top: 0px;
   padding-bottom: 0px
}

.classstart{
    padding:0;

}

.classstart1{
   
    padding-right:0;

}


.socialList{
    float: left;
    padding: 0;
   
}


.logo {
    margin-top: 50px;
}

.socialPosition{
    margin-top: 70px;
    vertical-align: middle;
}

.logo1 {
    margin-top: 65px;
    text-align: left;
   
}
/*
.socialfoot {
    
    margin-left: 15px;
     padding: 0;
}
*/

.grey{
     background-color:#343434;
     height: 192px;
     width:50%;
   
}

.white{
     background-color:white;
     height: 192px;
     width: 50;
}

.text_center{
    font-size: 25px;
}

#size1{
    font-size: 13px;
}
#size2{
    font-size: 36px;
     border-bottom:2px solid yellow;
     text-align: left;
     width:820px;
}

#size3{
    font-size: 36px;
     border-bottom:2px solid yellow;
      text-align: left;
     width:500px;
     margin-top: 30px;
}
.letterSpace {
    letter-spacing: 3pt;
    margin-top: 50px;
}
/*jak pogrubic linię*/
hr {
    margin: 0;
    width: 150px;
    margin-left:45px;
    
}

.center{
    text-align: center;
}

.center1{
    margin-left: 130px;
}

img.foto:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter: alpha(opacity=75); /* IE7 */
        opacity: 0.6;
        text-decoration: none;
    }