body {

    background: #ededed;
   
    }

.margin {
    padding:0;
    margin: 0;
}


/*.col-md-12 {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
} */

.logosize{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    filter: grayscale(100%);
}

.logosize1{
    width: 90px;
    height: 90px;
    border: 2px solid white;
    filter: grayscale(100%);
}


img:hover{
filter:grayscale(0);
}

.test {
    
    height:482px;
}

.foto {
    height: 482px;
    width: 629px;
    padding: 0;
    margin: 0;
}
.test2 {
    background-color: yellow;
    height:700px;
    float: left;
    height: 482px;
    text-align: center;
    vertical-align: middle;
    
}

.test3 {
    background-color: black;
    height:482px;
}

.test4 {
    background-color: darkred;
    height:700px;
    float: left;
    height: 482px;
}


.test5 {
    background-color: orange;
    height:482px;
}

.test6 {
    background-color: lawngreen;
    height:700px;
    float: left;
    height: 482px;
}


.main-background {
   background-color: white;
   margin: 20px 45px 0px 60px;
   padding: 0px;
   height: 420px;
}

.background-mianpart{
   background-color: white;
   margin: 0px 45px 0px 45px;

   padding-top: 0px;
   padding-bottom: 0px
}

.classstart{
    padding:0;

}

.socialList{
    float: left;
    padding: 0;
   
}


.logo {
    margin-top: 50px;
}

.socialPosition{
    margin-top: 70px;
    vertical-align: middle;
}

.logo1 {
    margin-top: 65px;
    text-align: left;
   
}

.socialfoot {
    
    margin-left: 15px;
     padding: 0;
}

.grey{
     background-color:#343434;
     height: 192px;
     width:615px;
   
}

.white{
     background-color:white;
     height: 192px;
     width: 629px;
}



#size1{
    font-size: 13px;
}
#size2{
    font-size: 36px;
     border-bottom:2px solid yellow;
     text-align: left;
     width:820px;
}

#size3{
    font-size: 36px;
     border-bottom:2px solid yellow;
      text-align: left;
     width:500px;
     margin-top: 30px;
}
.letterSpace {
    letter-spacing: 3pt;
    margin-top: 50px;
}
/*jak pogrubic linię*/
hr {
    margin: 0;
    width: 150px;
    margin-left:45px;
    
}

.center{
    text-align: center;
}

.center1{
    margin-left: 130px;
}